#aboutPage header {
    position: relative;
    min-height: 100vh;
    background-color: black;
}
#aboutPage .mainHeader{
    min-height: 150vh;
    display: flex;
    align-items: center;
    background: url("../images/about.png") no-repeat;
    background-size: cover;
    background-position: center;
}



#aboutPage .headerabout {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    bottom: -270px;
    text-align: center;
    color: white;
}
#aboutPage .headerabout h2 {
    font-size: 33px;
    font-family: 'Ubuntu', sans-serif;
}

#aboutPage .about1 {
    font-size: 16px;
    margin-top: -20px;
    color: #888888;
    font-family: 'Ubuntu', sans-serif;
}

#aboutPage .downNavHeader .social {
    padding-bottom: 30px;
    color: #888888;
    margin-top: -30px;
}

#aboutPage .downNavHeader .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

#aboutPage .downNavHeader .social a:hover {
    color: crimson;
    opacity: 0.9;
}

/*Header Section End*/

/*Main Section Start*/
#aboutPage .rider{
    width: 100%;
    height: 5px;
    position: relative;
    bottom: 0;
    background-color: crimson;
    filter: blur(5px);
}
#aboutPage .knight{
    width: 50px;
    height: 100%;
    background-color: #480202;
    animation-name: ride;
    animation-duration: 5s;
    position: absolute;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
}
@keyframes ride {
    from {
        left: 0;
    }
    to {
        left: 90%;
    }

}
/*about section start*/
#aboutPage .about .abouttext{
    font-size: 30px;
    display: flex;
    padding: 10px 125px;
}


/*Start Service Section Styling*/
#aboutPage .container5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 40px;
}
#aboutPage .card5{
    position: relative;
    width: 270px;
    height: 280px;
    margin: 30px;
    background: #287bff;
    border-radius: 20px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    box-shadow: 0 15px 0 #fff,
    inset 0 -15px 0 rgba(255,255,255,0.25),0 45px 0 rgba(0,0,0,0.15);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#aboutPage .card5::before{
    content: "";
    position: absolute;
    top: -140px;
    left: -40px;
    width: 100%;
    height: 150%;
    background: linear-gradient(90deg,transparent,rgba(255,255,255,0.2));
    transform: rotate(35deg);
    pointer-events: none;
    filter: blur(5px);
}
#aboutPage .card5:nth-child(1){
    background: linear-gradient(to bottom,#ff2ae0,#645bf6);
}
#aboutPage .card5:nth-child(2){
    background: linear-gradient(to bottom,#ffec61,#645bf6);
}
#aboutPage .card5:nth-child(3){
    background: linear-gradient(to bottom,#ff2ae0,#9a4eff);
}
#aboutPage .icon{
    position: relative;
    width: 140px;
    height: 120px;
    background: #fff;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;

    box-shadow: 0 10px 0 rgba(0,0,0,0.1),
    inset 0 -8px 0 #fff;
    z-index: 100;
    display: flex;
    justify-content: center;
}
#aboutPage .icon::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-right-radius: 50px;
    box-shadow: 15px -15px 0 15px #fff;
}
#aboutPage .icon::after{
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-left-radius: 50px;
    box-shadow: -20px -15px 0 15px #fff;
}
#aboutPage .icon ion-icon{
    color: green;
    position: relative;
    font-size: 6em;
    z-index: 1000;
}
#aboutPage .content5{
    position: absolute;
    width: 100%;
    padding: 30px;
    padding-top: 140px;
    text-align: center;
}
#aboutPage .content5 p{
    color: #fff;
    line-height: 1.5em;
}
/*End Service Section Styling*/
/*Start About Section Styling*/

#aboutPage .headAbout {
    position: relative;
    top: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(
            180deg, #e70b0b, #efefef00);
    filter: blur(3px);
}
#aboutPage .about2 {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0px;
    text-align: center;
    padding-bottom: 25px;
    color: white;
    background: black;
    height: 1200px;
}

.about2 h2 {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.aboutme h1 {
    font-size: 40px;
    position: relative;
    top: 25px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.aboutme h2 {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    color: crimson;
    margin-left: 50px;
}

.treepng {
    position: absolute;
    left: 105px;
    /* right: 0; */
    top: 139px;
    /* bottom: 0; */
    border-radius: 25% 0 25% 0;
    margin: auto;
    height: 552px;
}

#aboutPage .study {
    position: relative;
    left: 100px;
    height: 562px;
    width: 563px;
    border-radius: 25% 0 25% 0;
    background: linear-gradient(-45deg, #00ff66 , #00ff66 , #ff00ff , #ff0099 , #099fff);
    filter: blur(20px);
    animation: anim 10s linear infinite;
}

@keyframes anim {
    0%{
        background: linear-gradient(-45deg, #099fff, #00ff66 , #00ff66 , #ff00ff , #ff0099 );
    }
    50%{
        background: linear-gradient(-45deg, #ff0099 , #099fff, #00ff66 , #00ff66 , #ff00ff );
    }
    100%{
        background: linear-gradient(-45deg, #ff00ff , #ff0099 , #099fff, #00ff66 , #00ff66 );
    }
}

#aboutPage .boxabout{
    position: absolute;
    width: 300px;
    height: 400px;
    top: 200px;
    right: 45px;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #1c2648, black);
}

#aboutPage .aboutbefore {
    position: absolute;
    right: 45px;
    top: 200px;
    width: 310px;
    height: 410px;
    background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
    filter: blur(20px);
    animation: colour1 10s linear infinite;
}
@keyframes colour1 {
    0%{
        background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
    }
    50%{
        background: linear-gradient(235deg,#00bcd4,#89ff00,#060c21);
    }
    100%{
        background: linear-gradient(235deg,#060c21,#00bcd4,#89ff00);
    }
}
/*End About Section Styling*/
/*Start Skill Section Styling*/
#aboutPage .skills h2 {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    color: crimson;
    margin-left: 50px;
}

#aboutPage .aboutmehr {
    position: relative;
    height: 17px;
    bottom: 0;
    border: none;
    border-radius: 10px;
    background: linear-gradient(
            0deg, #e70b0b, #080707);
    filter: blur(3px);
}

/*End Skill Section Styling*/
/*about section end*/
/*start hobby section*/
#aboutPage .hobby{
    position: relative;
    bottom: 0;
}
#aboutPage .hobby h1{
    font-size: 40px;
    font-weight: bold;
    margin-left: 55px;
}
#aboutPage .hobby img {
    border-style: none;
    position: absolute;
    border: 10px solid #0089ff;
    border-radius: 20% 0;
    height: 283px;
    left: 55px;
}
#aboutPage .hobby-cont {
    position: absolute;
    display: flex;
    width: 429px;
    right: 50px;
}
#aboutPage .hobby p {
    position: relative;
    display: flex;
    font-size: 25px;
    text-align: center;
}
/*Hobby section End*/
/*Start Footer section*/
#aboutPage footer {
    font-weight: 400;
    background-color: white;
    display: flex;
    width: 100%;
    background-color: black;
    position: relative;
    bottom: -550px;
    height: 225px;
}
#aboutPage .footer{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    color: white;
}
#aboutPage .footer ul {
    color: white;
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

#aboutPage .footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

#aboutPage .footer ul li {
    display: inline-block;
    padding: 0 15px;
}

#aboutPage .footer ul li a:hover {
    color: crimson;
    opacity: 1;
}

#aboutPage .footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}

#aboutPage .footer .intro {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    color: white;
}
#aboutPage footer::before{
    content: "";
    position: absolute;
    background-color: lightseagreen;
    height: 4px;
    top: 0;
    left: 0;
    width: 100%;
}






.skillSlider .slider{
    max-width: 1100px;
    display: flex;
    color: black;
}
.skillSlider .slider .card1{
    flex: 1;
    margin: 0 10px;
    background: #fff;
    border-radius: 50px;
}
.skillSlider .slider .card1 .img1{
    height: 200px;
    width: 100%;
    border-radius: 50px;
}
.skillSlider .slider .card1 .img1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.skillSlider .slider .card1 .content1{
    padding: 10px 20px;
}
.skillSlider .card1 .content1 .title1{
    font-size: 25px;
    font-weight: 600;
}
.skillSlider .card1 .content1 .sub-title1{
    font-size: 20px;
    font-weight: 600;
    color: #e74c3c;
    line-height: 20px;
}
.skillSlider .card1 .content1 p{
    text-align: justify;
    margin: 10px 0;
}
.skillSlider .card1 .content1 .btn1{
    display: block;
    text-align: center;
    margin: 10px 0;
}
.skillSlider .card1 .content1 .btn1 a{
    text-decoration: none;
    background: #e74c3c;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.skillSlider .card1 .content1 .btn1 button:hover{
    transform: scale(0.9);
}
