html {
    background-color: #888888;
}

/*Header Section Start*/
header {
    position: relative;
    min-height: 135vh;
    background-color: black;
}

.mainHeader {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("../images/header.png") no-repeat;
    background-size: cover;
    background-position: center;
}

/*Start Nav Bar Style*/

.mainNavBar {
    background-color: #1c1a1a;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 80px;
    box-shadow: -2px 6px 9px -4px #917a7a;
}
.decoration {
    position: fixed;
   /* background-color: #1c1a1a;*/
    background: linear-gradient(45deg ,crimson , orange,yellow,green,dodgerblue,rebeccapurple,purple);
    border-bottom: #010103;
    width: 100%;
    height: 80px;
    filter: blur(10px);
    z-index: 1;
}
.decoBox{
    width: 50px;
    height: 100%;
    background-color: red;
    animation-name: testt;
    animation-duration: 5s;
    position: absolute;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;

}
.decoBox::after{
    filter: blur(10px);
}
@keyframes testt {
    from {
        left: 0;
        background-color: blue;
    }
    to {
        left: 98%;
        background-color: deeppink;
    }
}
.mainNavBar.sticky {
    padding: 15px 0;
    background-color: gray;
}

.mainNavBar.sticky:hover {
    color: crimson;
}

.mainNavBar .img {
    width: 52px;
    height: 65px;
    position: relative;
    top: 7px;
    left: 10px;
    background-color: #cf0d68;
}
.mainNavBar .img img{
    position: absolute;
    margin:auto;
    height: 50px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.mainNavBar .img img:hover{
    transform: rotate(360deg);
    transition: all 1s;
    cursor: pointer;
}

.mainNavBar .img img:hover section{
    transform: rotate(-360deg);
    transition: all 1s;
}
.mainNavBar .img:hover{
    transform: scale(1.2);
}
.mainNavBar ul {
    position: absolute;
    right: 30px;
    bottom: 0;
    font-size: 24px;
    font-family: 'Lobster', cursive;
    list-style: none;
    text-decoration: none;
    color: white;
}

.mainNavBar ul > li > a {
    text-decoration: none;
    color: #f3f1f1;
    padding-bottom: 4px;
    margin-left: 13px;
}

.mainNavBar ul > li {
    padding: 0 10px 0 10px;
    display: inline-block;
}


.mainNavBar .menu li a:hover {
    color: crimson;
}

.mainNavBar .logo a {
    position: absolute;
    top: 20px;
    left: 85px;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}

.mainNavBar .logo a span {
    color: crimson;
    transition: all 0.3s ease;
}

.mainNavBar.sticky .logo a span {
    color: crimson;
}

/*End Nav Bar Style*/

.home-content .text-1 {
    font-size: 27px;
}

.home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home-content {
    color: white;
    position: absolute;
    top: 150px;
    left: 100px;
}

.home-content .text-3 span {
    color: crimson;
    font-weight: 500;
}

.headerabout {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: white;
}

.headerabout h2 {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.about1 {
    font-size: 20px;
    margin-top: -12px;
    font-family: 'Ubuntu', sans-serif;
}

.about2 {
    font-size: 20px;
    margin-top: -12px;
    font-family: 'Ubuntu', sans-serif;
}

.downNavHeader .social {
    padding-bottom: 0;
    position: relative;
    top: -30px;
    color: #888888;
}

.downNavHeader .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.downNavHeader .social a:hover {
    color: crimson;
    opacity: 0.9;
}
.rider{
    width: 100%;
    height: 5px;
    position: relative;
    bottom: 0;
    background-color: crimson;
    filter: blur(5px);
}
.knight{
    width: 50px;
    height: 100%;
    background-color: #480202;
    animation-name: ride;
    animation-duration: 5s;
    position: absolute;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
}
@keyframes ride {
    from {
        left: 0;
    }
    to {
        left: 98%;
    }

}
/*Header Section End*/

/*Main Section Start*/
/*Start Project Section Styling*/
.mainProject{
    position: relative;
}
.maintopTheme {
    position: relative;
    left: 0;
    right: 0;
    bottom: -100px;
    text-align: center;
    padding-bottom: 25px;
    color: crimson;
    font-family: 'Ubuntu', sans-serif;
}

.maintopTheme h1 {
    color: black;
    font-size: 20px;
}

/*Start Slider Styling*/
.slide {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    top: 265px;
}
.slide-about {
    position: relative;
    top: 150px;
}
.slide h1 {
    font-size: 3.5rem;
    line-height: 2;
    text-align: center;
    color: #9d0191;
}

.main {
    background-color: black;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 4rem 0px;
    border-radius: 3%;
}

.slide-container {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
}
.arrowleft{
    position: absolute;
    z-index: 1;
    left: 0;
}
.arrowright{
    position: absolute;
    right: 0;
}
.container {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    animation-name: gogo;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.pject {
    background-color: white;
    position: relative;
    background: deeppink;
    height: 550px;
}
@keyframes gogo {
    from{
        right: 0;
    }
    to{
        right: 100%;
    }

}
.container .thumbnail {
    flex: 0 0 auto;
    object-fit: cover;
    cursor: pointer;
    margin: 5px;
    border: 1px solid black;
    border-radius: 25% 0;
    overflow: hidden;
    transform: scale(.95);
    transition: all .3s;
    background-color: crimson;
}

.container .thumbnail:hover {
    transform: scale(1);
}

.project-details {
    text-align: center;
    padding-bottom: 2rem;
    background-color: #f3a2b2;
}

.project-details h2 {
    font-size: 2.2rem;
    font-weight: 600;
}

.project-details p {
    font-size: 1.6rem;
    padding-bottom: 1rem;
    color: green;
    font-weight: 700;
}

.project-details a {
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #db6400;
    color: white;
    padding: 7px 10px;
    border-radius: 3px;
    transition: all .3s;
}

.project-details a:hover {
    background-color: #9d0191;
}

/*End Slider Styling*/

/*End Project Section Styling*/
/*Start Service Section Styling*/
.serv-content {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    /*top: 1900px;*/
    align-items: center;
    justify-content: space-between;
}

.serv-content .card {
    background: #D9CECD;
    text-align: center;
    border-radius: 0 25%;
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px 25px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.serv-content .card:hover {
    background: crimson;
}

.serv-content .card .box {
    transition: all 0.3s ease;
}

.serv-content .card:hover .box {
    transform: scale(1.05);
}

.serv-content .card i {
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}

.serv-content .card:hover i {
    color: #fff;
}

.serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.fullserve {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    top: 450px;
}
.serv-content1 {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    /*top: 2200px;*/
    align-items: center;
    justify-content: space-between;
}

.serv-content1 .card {
    background: #D9CECD;
    text-align: center;
    border-radius: 25% 0;
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px 25px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.serv-content1 .card:hover {
    background: crimson;
}

.serv-content1 .card .box {
    transition: all 0.3s ease;
}

.serv-content1 .card:hover .box {
    transform: scale(1.05);
}

.serv-content1 .card i {
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}

.serv-content1 .card:hover i {
    color: #fff;
}

.serv-content1 .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/*End Service Section Styling*/
/*Start About Section Styling*/
.headAbout {
    position: absolute;
    top: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(
            180deg, #e70b0b, #efefef00);
    filter: blur(3px);
}
.about {
    position: relative;
    left: 0;
    right: 0;
    bottom: -460px;
    text-align: center;
    padding-bottom: 25px;
    color: white;
    background: black;
    height: 1500px;
}

.about h2 {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.aboutme h1 {
    font-size: 40px;
    position: relative;
    top: 25px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.aboutme h2 {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    color: crimson;
    margin-left: 50px;
}

.treepng {
    position: absolute;
    left: 105px;
    /* right: 0; */
    top: 139px;
    /* bottom: 0; */
    border-radius: 25% 0 25% 0;
    margin: auto;
    height: 552px;
}

.study {
    position: relative;
    left: 100px;
    height: 562px;
    width: 563px;
    border-radius: 25% 0 25% 0;
    background: linear-gradient(-45deg, #00ff66 , #00ff66 , #ff00ff , #ff0099 , #099fff);
    filter: blur(20px);
    animation: anim 10s linear infinite;
}

@keyframes anim {
    0%{
        background: linear-gradient(-45deg, #099fff, #00ff66 , #00ff66 , #ff00ff , #ff0099 );
    }
    50%{
        background: linear-gradient(-45deg, #ff0099 , #099fff, #00ff66 , #00ff66 , #ff00ff );
    }
    100%{
        background: linear-gradient(-45deg, #ff00ff , #ff0099 , #099fff, #00ff66 , #00ff66 );
    }
}

.boxabout{
    position: absolute;
    width: 300px;
    height: 400px;
    top: 200px;
    right: 45px;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #1c2648, black);
}

.aboutbefore {
    position: absolute;
    right: 40px;
    top: 195px;
    width: 310px;
    height: 410px;
    background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
    filter: blur(20px);
    animation: colour1 10s linear infinite;
}
@keyframes colour1 {
    0%{
        background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
    }
    50%{
        background: linear-gradient(235deg,#00bcd4,#89ff00,#060c21);
    }
    100%{
        background: linear-gradient(235deg,#060c21,#00bcd4,#89ff00);
    }
}
/*End About Section Styling*/
/*Start Skill Section Styling*/
.skills{
    position: relative;
}
.skills h2 {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    color: crimson;
    margin-left: 50px;
}

.aboutmehr {
    position: relative;
    height: 17px;
    bottom: -740px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(
            0deg, #e70b0b, #080707);
    filter: blur(3px);
}

/*End Skill Section Styling*/
/*Start Gallery Section Styling*/
.gallryHr {
    height: 17px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to left, black, crimson);
}

.gallery {
    position: relative;
    left: 0;
    right: 0;
    bottom: -520px;
    text-align: center;
    padding-bottom: 25px;
    color: crimson;
    font-family: 'Ubuntu', sans-serif;
}

.gallery h1 {
    color: black;
}

.gallery h2 {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.gallaryphoto {
    position: relative;
    height: auto;
    width: 90%;
    margin: auto;
    padding: 45px 0;
    display: grid;
    grid-template-columns: auto auto auto auto; /*i write auto four time because we want four rows*/
    grid-gap: 2vh;
    grid-auto-flow: dense;
}

.gallaryphoto .img {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9);
    border-radius: 2px;
}

.gallaryphoto .img:first-child {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.gallaryphoto .img:nth-child(2n+3) {
    grid-row-start: span 2;
}

.gallaryphoto .img:nth-child(4n+5) {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.gallaryphoto .img:nth-child(6n+7) {
    grid-row-start: span 1;
}

.gallaryphoto .img:nth-child(8n+9) {
    grid-column-start: span 1;
    grid-row-start: span 1;
}

.gallaryphoto .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5) grayscale(100);
    border-radius: 2px;
    transition: 0.3s ease-in-out;
}

.gallaryphoto .img:hover img {
    filter: brightness(1) grayscale(0);
}

/*End Gallery Section Styling*/
/*Start Hobby Section Styling*/
.hobby {
    position: relative;
    left: 0;
    right: 0;
    bottom: -520px;
    text-align: center;
    padding-bottom: 25px;
    font-size: 20px;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.hobby .image {
    display: inline-block;
    text-align: center;
    width: 33%;
    float: left;
}

.hobby figure {
    border: 5px solid crimson;
    height: 175px;
    overflow: hidden;
    margin: 0 10px;
}

.hobby h3 {
    color: #000;
    margin-top: 40px;
}

.hobby p {
    padding: 0 10px;
}

.image img {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.image #zoom-in img {
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.image #zoom-in:hover img {
    transform: scale(1.5);
}

.image #zoom-inTwo img {
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.image #zoom-inTwo:hover img {
    transform: scale(1.5);
}

.image #zoom-inThree img {
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.image #zoom-inThree:hover img {
    transform: scale(1.5);
}

/*Start Footer section*/
footer {
    font-weight: 400;
    background-color: white;
    display: flex;
    width: 100%;
    background-color: black;
    position: relative;
    bottom: -520px;
    height: 225px;
}
.footer{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    color: white;
}
.footer ul {
    color: white;
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    color: crimson;
    opacity: 1;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}

.footer .intro {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    color: white;
}
footer::before{
    content: "";
    position: absolute;
    background-color: lightseagreen;
    height: 4px;
    top: 0;
    left: 0;
    width: 100%;
}

/*Footer Section End*/

/*Media Queries*/
@media (max-width: 425px) {
    .mainNavBar ul {
        right: 10px;
        font-size: 10px;
    }
    .mainNavBar .logo a {
        font-size: 20px;
     }
    .home-content .text-2 {
        font-size: 22px;
    }
    .home-content .text-1 {
        font-size: 10px;
    }
    .home-content .text-3 {
        font-size: 15px;
    }
    .home-content {
        top: 220px;
        right: 15px;
    }
    .headerabout h2 {
        font-size: 10px;
    }
    .about1 {
        font-size: 7px;
        margin-bottom: 12px;
        margin-top: -5px;
    }
    .about2 {
        font-size: 7px;
    }
    .downNavHeader .social a {
        font-size: 15px;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    header {
        min-height: 110vh;
    }
    .maintopTheme {
        bottom: -300px;
        font-size: 7px;
    }
    .slide h1 {
        font-size: 2.5rem;
    }
    .slide-container {
        max-width: 300px;
    }
    .serv-content {
        flex-wrap: wrap;
    }
    .serv-content1 {
        flex-wrap: wrap;
    }
    .treepng {
        left: 0;
        right: 0;
        height: 220px;
    }
    .study {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        height: 242px;
        width: 222px;
    }
    .boxabout {
        width: 218px;
        height: 285px;
        top: 436px;
        right: 0;
        left: 0;
        font-size: 17px;
    }
    .aboutbefore {
        right: 0;
        left: 0;
        margin: auto;
        top: 395px;
        width: 250px;
        height: 365px;
    }
    .slide-about {
        top: 35px;
    }
    .skills {
        position: relative;
        top: 825px;
    }
    .aboutmehr {
        bottom: -495px;
    }
    .gallery h2 {
        font-size: 10px;
    }
    h1 {
        font-size: 1em;
    }
    .hobby {
        font-size: 10px;
    }
}

@media all and (min-width: 425px) and (max-width: 768px) {
    .mainNavBar ul {
        right: 10px;
        bottom: -15px;
    }
    .mainNavBar .logo a {
        top: 10px;
        left: 80px;
        font-size: 25px;
    }
    .home-content .text-1 {
        font-size: 20px;
    }
    .home-content .text-2 {
        font-size: 30px;
    }
    .home-content .text-3 {
        font-size: 20px;
    }
    .home-content {
        top: 0;
        bottom: 0;
        margin: auto;
        /* top: 208px; */
        /* right: 25px; */
        /* right: auto; */
        width: 500px;
        left: 40px;
        position: relative;
    }
    .about2 {
        font-size: 9px;
    }
    .about1 {
        font-size: 9px;
    }
    .headerabout h2 {
        font-size: 12px;
    }
    .downNavHeader .social a {
        font-size: 17px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    header {
        min-height: 110vh;
    }
    .maintopTheme {
        bottom: -320px;
        font-size: 8px;
    }
    .serv-content {
        flex-wrap: wrap;
    }
    .serv-content1 {
        flex-wrap: wrap;
    }
    .treepng {
        left: 0;
        right: 0;
        height: 266px;
    }
    .study {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        height: 288px;
        width: 270px;
    }
    .boxabout {
        width: 279px;
        height: 400px;
        top: 478px;
        right: 0;
        left: 0;
        margin: auto;
    }
    .aboutbefore {
        right: 0;
        left: 0;
        margin: auto;
        top: 465px;
        width: 305px;
        height: 410px;
    }
    .slide-about {
        top: 50px;
    }
    .skills {
        top: 835px;
    }
    .aboutmehr {
        bottom: -495px;
    }
    .gallery h2 {
        font-size: 12px;
    }
    .gallery h2 {
        font-size: 10px;
    }
    h1 {
        font-size: 1em;
    }
    .hobby {
        font-size: 10px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .home-content .text-1 {
        font-size: 20px;
    }
    .home-content .text-2 {
        font-size: 40px;
    }
    .home-content .text-3 {
        font-size: 25px;
    }
    .home-content {
        top: 200px;
    }
    .headerabout h2 {
        font-size: 20px;
    }
    .about1 {
        font-size: 15px;
    }
    .about2 {
        font-size: 15px;
    }
    .serv-content1 .card {
        margin-left: 40px;
        margin-right: 40px;
        padding: 50px 13px;
        margin-bottom: 15px;
    }
    .serv-content .card {
        margin-left: 40px;
        margin-right: 40px;
        padding: 50px 15px;
        margin-bottom: 15px;
    }
    .boxabout {
        top: 806px;
        right: 0;
        left: 0;
        margin: auto;
    }
    .aboutbefore {
        right: 0;
        left: 0;
        margin: auto;
        top: 796px;
        width: 310px;
        height: 410px;
    }
    .treepng {

        left: 0;
        right: 0;
    }
    .study {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
    .skills {
        top: 1125px;
    }
    .slide-about {
        top: 25px;
    }
    .aboutmehr {
        bottom: -535px;
    }
    .about {
        height: 1835px;
    }
}
